@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #fff;
    box-shadow: 0px 0px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header {
    background-color: orange;
    display: flex;
    align-items: center;
}


.container {
    width: 70%;
    padding: 5px;
    margin: 0 auto;
}

.intro {
    width: 70%;

}

.intro button,
p,
h1 {
    margin: 20px 0;

}

.intro p {
    font-size: 1.2em;
}

.flex {
    display: flex;
    align-items: center;
}



.intro h1 {
    font-size: 3em;
    opacity: 0.7;
}

.firstname {
    color: #2E3434;
}

.lastname {
    color: #E3834C;
}

.firstname,
.lastname {
    font-size: 2em;
    font-weight: bolder;
}

button {
    padding: 15px;
    color: #fff;
    background-color: #2E3434;
    border-radius: 7px;
    width: 200px;
    font-size: large;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #373f3f;
}

button:active {
    background-color: #4d5858;
}

#about {
    padding: 50px 0;
}

#about article {
    margin-bottom: 60px;
}

#about figure {
    margin-bottom: 10px;
}

article p {
    font-size: 1.1em;
    text-align: justify;
}




figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 100%;
    margin: auto;
}


figcaption {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#contact-form {
    width: 100%;
    padding: 50px 0;
    background-color: #E8D5BB;
}

#contact-form h2 {
    margin-bottom: 50px;
    color: #2E3434;
    text-align: center;
}

#contact-form input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
    font: 1em sans-serif;
}

textarea {
    width: 100%;
    font: 1em sans-serif;
}

textarea:hover,
input:hover {
    box-shadow: 0px 0px 20px lightcoral;
}

textarea:focus,
input:focus {
    background-color: whitesmoke;
}

textarea {
    width: 100%;
    padding: 15px;
}



label {
    margin: 20px auto;
    font-weight: bold;
}

footer {
    background-color: #2E3434;
    display: flex;
    align-items: center;
    height: 200px;
    color: #fff;
}

footer h2 {
    text-align: center;
}