@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4em;
    opacity: 0.8;

}

section#about p {
    font-size: larger;
}

.firstname {
    color: #2E3434;
}

.lastname {
    color: #E3834C;
}

header {
    height: 150px;
    background-color: #648B7D;
    display: flex;
    align-items: center;


}

.firstname,
.lastname {
    font-size: 3em;
    font-weight: 1000;
}

section#about {
    width: 70%;
    margin: 50px auto;
    border: 1px solid black;
    padding: 30px;
    background-color: #E8D5BB;

}

img {
    width: 100%;
    border: #2E3434 1px solid;
}

.logo {
    margin-left: 20px;
}

figure {
    /* border: thin #c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 50%;
    margin: auto;
}


figcaption {
    background-color: #222;
    opacity: 0.7;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 10px;
    text-align: center;
}

#contact-form {
    width: 100%;
    /* margin: 20px a; */
    background-color: #E8D5BB;
}

form {
    padding: 50px;
    margin: 0 auto;
    width: 70%;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;

}

textarea {
    width: 100%;
}

button {
    padding: 15px;
    color: #fff;
    background-color: #2E3434;
    border-radius: 7px;
    width: 200px;
    font-size: large;
}

label {
    margin: 20px auto;
    font-weight: bold;
}

footer {
    background-color: #2E3434;
    display: flex;
    align-items: center;
    height: 200px;
}